<!-- wp:pattern {"slug":"wei/hero-1"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px"}}},"layout":{"inherit":false}} -->
<main class="wp-block-group" style="margin-top:0px">
	<!-- wp:spacer {"height":"10px"} -->
	<div style="height:10px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:group {"layout":{"inherit":false}} -->
	<div class="wp-block-group">
		<!-- wp:post-content {"layout":{"inherit":true}} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
