<!-- wp:cover {"useFeaturedImage":true,"minHeight":33,"minHeightUnit":"vh","contentPosition":"bottom center","isDark":false,"className":"p-sm mt-0 featured-image","style":{"color":{"duotone":["#004D98","#dbffff"]},"spacing":{"padding":{"top":"0","right":"var(--wp--custom--spacing--outer)","left":"var(--wp--custom--spacing--outer)"}}}} -->
<div class="wp-block-cover is-light has-custom-content-position is-position-bottom-center p-sm mt-0 featured-image" style="padding-top:0px;padding-right:var(--wp--custom--spacing--outer);padding-left:var(--wp--custom--spacing--outer);min-height:33vh"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:template-part {"slug":"header","theme":"wei","tagName":"header"} /-->

<!-- wp:spacer {"height":"20vh"} -->
<div style="height:20vh" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:post-title {"textAlign":"center","level":1,"align":"wide","fontSize":"xx-large"} /-->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"bottom":"var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002dspacing\u002d\u002dsmall, 1.25rem)"}}},"layout":{"type":"flex","allowOrientation":false,"justifyContent":"center"}} -->
<div class="wp-block-group alignwide" style="padding-bottom:var(--wp--custom--spacing--small, 1.25rem)"><!-- wp:post-date {"textColor":"accent-alt","fontSize":"small"} /-->

<!-- wp:post-comments-link {"fontSize":"small"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"tagName":"main","layout":{"inherit":false}} -->
<main class="wp-block-group"><!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:post-content {"layout":{"inherit":true}} /-->

<!-- wp:spacer {"height":"20px"} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"flex","justifyContent":"space-between"}} -->
<div class="wp-block-group">
	<!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
	<div class="wp-block-group">
		<!-- wp:post-terms {"term":"category","style":{"typography":{"fontSize":"0.9rem"}},"className":"is-style-buttons"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"style":{"spacing":{"blockGap":"1.25rem"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
	<div class="wp-block-group">
		<!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"600","fontSize":"0.75rem","letterSpacing":"1px"}}} -->
		<p style="font-size:0.75rem;font-style:normal;font-weight:600;letter-spacing:1px">SHARE</p>
		<!-- /wp:paragraph -->

		<!-- wp:outermost/social-sharing {"iconColor":"white","iconColorValue":"#FFFFFF","size":"has-normal-icon-size","className":"is-style-logos-only","layout":{"type":"flex","justifyContent":"center","flexWrap":"nowrap"},"style":{"spacing":{"blockGap":"1rem"}}} -->
		<ul class="wp-block-outermost-social-sharing has-normal-icon-size has-icon-color is-style-logos-only">
			<!-- wp:outermost/social-sharing-link {"service":"twitter"} /-->

			<!-- wp:outermost/social-sharing-link {"service":"facebook"} /-->
		</ul>
		<!-- /wp:outermost/social-sharing -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

</div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
